.App {
  text-align: left;
}

.App-logo {
  height: 50px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
}

.App-subheader {
  text-transform: uppercase;
  margin: 8px;
}

.App-link {
  color: #e1373b;
}

